:root{
  --color-dark-gray: #191919;
  --color-dark-red: #CB0F31;
  --color-pink: #e2277c;
  --color-red-opacity: rgba(203,15,49,0.8);
  --font-primary: 'Quicksand', sans-serif;
  --font-secondary: 'Courgette', cursive;
}
    


  
